$col-primary: #d29f68;
$col-secondary: rgb(244, 245, 247);
$col-default: #ebecf0;
$col-fade: #fafbfc;
$col-light: #fff;
$col-dark: #000;

// ==== SIDE BAR ====
.sidebar {
  min-height: 100vh;
  width: 250px;
  background-color: $col-fade;
  position: relative;
  border-right: 1px solid $col-default;
  &-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 67px;
    right: -12px;
    background-color: $col-light;
    box-shadow: 0 0 0 1px rgb(9 30 66 / 8%), 0 2px 4px 1px rgb(9 30 66 / 8%);
    border: 0;
    border-radius: 50%;
    &:hover {
      color: $col-light;
      background-color: $col-primary;
    }
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1.5px solid $col-default;
    img {
      width: 40px;
      height: 40px;
    }
    small {
      display: block;
      font-size: 11px;
    }
  }
  &-body {
    padding: 20px 10px;
  }
  &-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #888;
    // background-color: $col-default;
    border-radius: 5px;
    svg {
      width: 15px !important;
      color: $col-dark;
      margin-right: 15px;
    }
    &.active {
      background-color: #efdbad;
      color: #714232;
      svg {
        color: #714232;
      }
    }
    &:hover {
      color: #714232;
    }
  }
}

// ==== CONTENT BAR ====
.main {
  display: flex;
  &-section {
    padding: 25px;
    &-header {
      display: flex;
      justify-content: space-between;
    }
    &-breadcrumb {
      a,
      span {
        display: inline-flex;
        margin-right: 10px;
      }
    }
  }
}
// ==== LAYOUT PAGE ====
.layout {
  &-page {
  }
}
