$col-primary: #d29f68;

// === SIDEBAR ===
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: calc(100vh - 65px);
  position: sticky;
  top: 2rem;
  background-color: #f8f9fa;
  z-index: 99;
  &-toggle {
    display: none;
  }
  &-header {
    display: flex;
    align-items: center;
    span {
      display: block;
      font-size: 12px;
    }
  }
  &-body {
    height: calc(100vh - 370px);
    overflow-y: auto;
    padding-right: 15px;
  }
  &-footer {
    width: calc(100% - 20px);
    position: relative;
    justify-self: flex-end;
    border-radius: 10px;
    background-image: linear-gradient(310deg, #ae99929c, #e2c99087),
      url(https://demos.creative-tim.com/soft-ui-dashboard/assets/img/curved-images/white-curved.jpeg);
    background-size: cover;
    color: #fff;
    .icon-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #fff;
      box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
        0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%) !important;
      border-radius: 4px;
      color: #3a416f;
    }

    .btn {
      width: 100%;
      margin-top: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%),
        0 2px 4px -1px rgb(0 0 0 / 7%);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    .icon-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 10px;
      color: #000;
      font-size: 12px;
      background-color: #fff;
      box-shadow: 0 0.25rem 0.375rem -0.0625rem hsla(0, 0%, 8%, 0.12),
        0 0.125rem 0.25rem -0.0625rem hsla(0, 0%, 8%, 0.07) !important;
    }
    .link-bar {
      color: #67748e;
      font-size: 14px;
    }
    &.active {
      background-color: #fff;
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
      .icon-bar {
        background-image: linear-gradient(310deg, #ae9992, #e2ca90);
        color: #fff;
      }
    }
  }
  &-divider {
    display: block;
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.4),
      transparent
    );
  }
}

// === MAIN BODY ===
.main {
  display: flex;
  &-line {
    padding: 2rem;
  }
  &-section {
    width: calc(100% - 275px);
    max-width: 1010px;
    margin-left: 25px;
    position: relative;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    &-breadcrumb {
      span,
      a {
        display: inline-flex;
        margin-right: 10px;
        font-size: 13px;
        &.active {
          color: darkgrey;
        }
      }
    }
    &-tools {
      display: flex;
      a,
      div {
        margin-left: 20px;
        font-size: 14px;
        color: #67748e;
        cursor: pointer;
        &:hover {
          color: $col-primary;
        }
      }
    }
  }
}

// === TAB LAYOUT ===
.layout {
  &-page {
    .card-tools {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        margin-left: 5px;
        font-size: 12px;
        color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
          0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%) !important;
        &:hover,
        &:disabled {
          opacity: 0.8;
        }
      }
      .btn-edit {
        background-image: linear-gradient(310deg, #ae9992, #e2ca90);
      }
      .btn-delete {
        background-image: linear-gradient(310deg, #ea0606, #ff667c);
      }
    }
    h5 {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      margin: 15px 0;
    }
    a {
      color: #fff;
      font-size: 14px;
      svg {
        margin-right: 10px;
      }
    }
  }
  &-page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .icon-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
        0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%) !important;
      color: #000;
      margin-right: 15px;
    }
    button {
      padding: 8px 15px;
      border-radius: 4px;
      background-image: linear-gradient(310deg, #141727, #3a416f);
      box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%),
        0 2px 4px -1px rgb(0 0 0 / 7%);
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
    }
    span {
      font-weight: bold;
    }
  }
  &-header-home {
    display: flex;
    justify-content: space-between;
    .card-layout-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      box-shadow: 0 23px 45px -11px hsl(0deg 0% 8% / 25%);
      &:nth-child(1) {
        width: calc(50% - 40px);
      }
      &:not(:first-child) {
        width: 25%;
      }
      &-index {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background: #fff;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        box-shadow: 0 23px 45px -11px hsl(0deg 0% 8% / 25%);
      }
    }
  }

  &-header-other {
    display: flex;
    .card-layout-header {
      width: calc(25% - 12px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      box-shadow: 0 23px 45px -11px hsl(0deg 0% 8% / 25%);
      &:not(:first-child) {
        margin-left: 17px;
      }
    }
  }
}

// === TAB EVENT ===
.event {
  &-page {
  }
}

// === PROFILE PAGE ===
.profile {
  &-page {
  }
  &-header {
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    &-card {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: calc(100% - 60px);
      left: 30px;
      bottom: -50px;
      padding: 15px;
      box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, 0.9),
        0 20px 27px 0 rgba(0, 0, 0, 0.05);
      backdrop-filter: saturate(200%) blur(30px);
      background-color: hsla(0, 0%, 100%, 0.8);
      border-radius: 10px;
      .data-profile-container {
        display: flex;
        align-items: center;
        img {
          width: 75px;
          height: 75px;
          border-radius: 10px;
          object-position: center;
          object-fit: cover;
        }
      }
      .data-action-container {
        display: flex;
        align-items: center;
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 15px;
          background-color: #fff;
          box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
          border-radius: 10px;
          margin-left: 10px;
        }
        .icon-bar {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          margin-left: 15px;
          background-image: linear-gradient(310deg, #ae9992, #e2ca90);
          color: #fff;
          border-radius: 5px;
        }
      }
    }
  }
}

// === LOGIN PAGE ===
.login {
  &-page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    &-form {
      width: 400px;
      max-width: 90%;
      padding: 30px 20px 40px;
      background-color: #fff;
      box-shadow: 0 0.1rem 0.9rem -0.0625rem rgb(20 20 20 / 12%),
        0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%);
      border-radius: 10px;
      text-align: center;
      h5 {
        font-weight: bold;
        background-image: linear-gradient(310deg, #ae9992, #e2ca90);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .admin-form-group {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      box-shadow: 0 0.1rem 0.9rem -0.0625rem rgb(20 20 20 / 12%),
        0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%);
      border-radius: 7px;
      margin-bottom: 1rem;
      .icon-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: #fff;
        box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
          0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%);
        border-radius: 5px;
        font-size: 12px;
        color: #000;
      }
      input {
        height: 30px;
        width: calc(100% - 40px);
        border: none;
        font-size: 13px;
        &:focus {
          border: none;
          border-bottom: 1px solid #d2d6da;
          outline-width: 0;
        }
        &::placeholder {
          font-size: 13px;
        }
      }
    }
    .button {
      height: 35px;
      width: 100%;
      background-image: linear-gradient(310deg, #ae9992, #e2ca90);
      box-shadow: 0 0.1rem 0.9rem -0.0625rem rgb(20 20 20 / 12%),
        0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%);
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      color: #fff;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      &:hover {
        opacity: 0.8;
      }
    }
    .rc-switch-checked {
      background-color: rgb(89, 89, 89);
      border-color: rgb(89, 89, 89);
    }
    img {
      width: 60px;
      height: 60px;
    }
  }
}

// === DATA TABLE ===
.data-table {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  border-radius: 10px;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    h6 {
      // font-size: 16px;
      font-weight: bold;
    }
  }
  &-body {
    display: inline-block;
    overflow-x: auto;
    tr {
      vertical-align: middle;
    }

    th {
      font-size: 10px;
      color: #8392ab;
      text-transform: uppercase;
      padding: 10px 20px;
    }

    td {
      font-size: 13px;
      padding: 10px 20px;
      border-top: 1px solid #e9ecef;
      min-width: 125px;
      .tab-action {
        display: flex;
        justify-content: flex-end;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          font-size: 11px;
          border: none;
          border-radius: 8px;
          &.btn-edit {
            background-image: linear-gradient(310deg, #141727, #3a416f);
            color: #fff;
          }
          &.btn-delete {
            background-image: linear-gradient(310deg, #ea0606, #ff667c);
            color: #fff;
          }
        }
      }
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #e9ecef;
    span {
      font-size: 13px;
    }
  }
  &-pagintaion {
    display: flex;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-left: 5px;
      color: #000;
      border: none;
      border-radius: 8px;
      font-size: 11px;
      &.active {
        background-image: linear-gradient(310deg, #141727, #3a416f);
        color: #fff;
      }
    }
  }
}

.loading {
  &-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 30px);
    height: 100%;
    max-height: 90vh;
    margin-left: -15px;
    background-color: #f8f9fa;
    span {
      font-size: 14px;
    }
  }
}
