@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "bootstrap/dist/css/bootstrap.css";
@import "./custom.scss";
@import "./responsive.scss";
$col-primary: #d29f68;
$col-secondary: #141727;
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa;
}

a {
  color: unset;
  &:hover {
    color: $col-primary;
  }
}

.btn {
  &-primary-transparent {
    border-color: #cb0c9f;
    background-color: transparent;
    color: #cb0c9f;
  }
  &-dark {
    background-image: linear-gradient(310deg, #141727, #3a416f);
    color: #fff;
  }
}

.col-form-label {
  font-size: 14px !important;
}

.modal-header {
  align-items: center;
}

.form-control,
.custom-file-label {
  font-size: 14px;
}
